*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    height: 100%;
}
.container{
    color: rgb(71, 71, 71);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.wrapper{
  flex: 11;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}
.footer{
    flex: 1;
    display: flex;
    background-color: #e4e4e4;
    color: #000000;
    display: grid;
    place-items: center;
    border-top: 3px solid #7CD1B8;
}


.sidebar{
    background-color: #ffffff;
    gap: 20px;
    padding: 20px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 3px solid #e0e0e0;
}
.options{
    background-color: #FABB51;
    color:rgba(0, 0, 0, 0.733);
    border-radius: 10px;
    cursor: pointer;
    display: grid;
    place-items: center;
    height: 50px;
    width: 80%;
    font-weight: bold;
}
.options:hover{
    background-color: rgba(0, 0, 0, 0.514);
    font-size: large;
}
.frame{
border-radius: 50%;
height: 80px;
width: 80px;
overflow: hidden;
}
.photo{
    height: 150px;
    width: 80px; 
   
}

.main{
    flex: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}
.heading{
    color:#3a352c;
    background-color: #e6e6e6;
    width: 100%;
    display: grid;
    place-items: center;
    height: 80px;
}
.summary{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
.lookSummary{
    height: 150px;
    width: 150px;
    border-radius: 10px;
   /* background-color: rgb(32, 16, 48);
    padding: 20px; */

    display: grid;
    grid-template-columns: auto;
    place-items: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 18PX;
    text-transform: uppercase;
    box-shadow: 0px 0px 8px 1px rgb(33,33,33);
}
.income{
    height: 170px;
  width: 170px;
  border-radius: 20px;
  /* background: linear-gradient(to top right, #7CD1B8,#3E8E7E); */
  padding: 20px 5px;
  box-sizing: border-box;
  transition: 0.5s;
}
.income:hover{
    background:linear-gradient(to top right, #3E8E7E,#7CD1B8);
}
.expense{
    height: 170px;
    width: 170px;
    border-radius: 20px;
    /* background: linear-gradient(to top right, #7CD1B8,#3E8E7E); */
    padding: 20px 5px;
    box-sizing: border-box;
    transition: 0.5s;
  
  
  }
  .expense:hover{
    background:linear-gradient(to top right, #3E8E7E,#7CD1B8);
}
  
  .savings{
    height: 170px;
    width: 170px;
    border-radius: 20px;
    /* background: linear-gradient(to top right, #7CD1B8,#3E8E7E); */
    padding: 20px 5px;
    box-sizing: border-box;
    transition: 0.5s;
  
  }
  .savings:hover{
    background:linear-gradient(to top right, #3E8E7E,#7CD1B8);
}
  
  
.displook{
    width: 130px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(226, 226, 226);
    color: black;
    font-family:sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding: 2px 10px;
    box-sizing: border-box;
    overflow-x: scroll;
    scroll-behavior: smooth;
  
}
.displook::-webkit-scrollbar{
    display: none;
  }

.entries{
    background-color: #e3e0ff;
    padding: 20px;
    width: 90%;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 1px rgb(33,33,33);

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.typeofdata{
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 0.7rem;
}
.entry{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.7rem;
    padding: 3px;
}
.entryLook{
    width: 100%;
    /* box-shadow: inset -1px -1px 1px 0px white; */
    padding-left: 20px;
}
.mobile-btn{
    display: none;
}
.data{
   height: 150px;
   width: 90%;
   background-color: #fffaec;
   overflow-y: auto;
   border-radius: 20px;
   padding-left: 20px;
   color: black;
   
}
.data::-webkit-scrollbar{
    width: 10px;
    }
    .data::-webkit-scrollbar-thumb {
      background: red;
      border-radius: 30px;
    }
    .data::-webkit-scrollbar-track {
      background: #888;
      border-radius: 30px;
      width: 5px;
    }
    .data::-webkit-scrollbar-thumb:hover {
      background: pink;
    }
.hide{
    display: none !important;
}
.form{
    height: 60vh;
    width: 50vw;
    background:linear-gradient(to top right, rgba(255, 192, 203, 0.644),rgba(33, 35, 90, 0.747));
    /* backdrop-filter: blur(5px); */
    position: fixed;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    gap: 20px;
    color: black;
    z-index: 30;
    box-shadow: 0px 0px 50px 20px black;
}
.inp{
    border: none;
    height: 35px;
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 1rem;
  
}
.submit{
    padding: 15px 30px;
    border-radius: 40px;
    border: none;
  }
  
.blur{
    width: 100vw;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.733);
    z-index: 20;
    position: absolute;
}

.pos{
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 25px !important;
    cursor: pointer;
}
@media only screen and (max-width: 720px) {
    .summary{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
    }
    .lookSummary{
        width: 90%;
        
    }
    .blur{
     
        width: 100%;
        backdrop-filter: blur(10px);
        background: rgba(0, 0, 0, 0.733);
        z-index: 20;
        position: absolute;
    }
    
}
    @media only screen and (max-width: 585px) {
        .summary{
            flex-direction: column;
            align-items: center;
            gap: 20px;
            
        }
        .form{
            width: 90vw;
        }
        .lookSummary{
            width: 90%;
        }
        .blur{
            width: 100%;
            backdrop-filter: blur(10px);
            background: rgba(0, 0, 0, 0.733);
            z-index: 20;
            position: absolute;
        }
    
        .sidebar{
            position: fixed;
            height: 60px;
            width: 60px;
            bottom: 60px;
            right: 60px;
            background-color: transparent;
            display: grid;
            place-items: center;
        }
        .frame, .sidebar>h1{
            display: none;
        }
        .options{
            border-radius: 50%;
            display: grid;
            place-items: center;
            height: 60px;
            width: 60px;
            background-color: transparent;
        }
        .desktop-btn{
            display: none;
        }
        .mobile-btn{
           display: block;
           color: purple;
           font-size: 2.5rem;
           text-shadow: 0px 0px 20px white,0px 0px 20px white,0px 0px 20px white,0px 0px 20px white,0px 0px 20px white;
        }
}